
<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @things.each do |thing| %>
  <tr>
    <td><%= thing.description %></td>
    <td><%= link_to 'Review This', new_thing_review_path(thing) %></td>
    <td><%= link_to 'Show', thing %></td>
    <% if can?(:update, thing)%>
      <td><%= link_to 'Edit', edit_thing_path(thing) %></td>
    <% end %>
    <% if can?(:destroy, thing) %>
      <td><%= link_to 'Destroy', thing, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Review Something else', types_path, class: 'btn btn-warning' %>
