<p id="notice"><%= notice %></p>

<h1>
  <%= @thing.name %>
</h1>

<p>
  <b>Description:</b>
  <%= @thing.description %>
</p>

<% if can?(:create, Review) %>
  <%= link_to "Review '#{@thing.name}' yourself", new_thing_review_path(@thing), class: 'btn btn-warning'%><br><br>
<% end %>    

<table class="table">
  <tr>
  	<th>Score</th>
    <th>Objective</th>
    <th>Subjective</th>
    <th>Review by</th>
    <th>Notes</th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
  	<td><%= review.ob_score + review.sub_score %></td>
  	<td><%= review.ob_score %></td>
    <td><%= review.sub_score %></td>
    <td><%= review.user.name if review.user %></td>
    <td><%= review.thought %></td>
    <% if can?(:update, review)%>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <% else %>
      <td></td>
    <% end %>
    <% if can?(:destroy, review)%>
    <td><%= link_to 'Destroy', review, confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= link_to 'Back', type_path(@thing.type) %>
