
<% if @temp_title %>
  <h1>
    <%= @temp_title %>
  </h1>
  <% if @temp_image %>
    <div>
      <img src=<%= "https://#{@temp_image}" %> style="border: solid;" ></img>
    </div>
  <% end %>
  <br>
  <% if @temp_image %>
    <p>
      <%= @temp_description %>
    </p>
  <% end %>

  <%= form_for @type do |f| %>
  <%= f.hidden_field :temp_title, :value => @temp_title %>
  <%= f.hidden_field :temp_description, :value => @temp_description %>
  <%= f.hidden_field :temp_image, :value => @temp_image %>
  <%= f.submit "thats right"%>


  <% end %>
<% else %>

<h1>What is a <%= @type.name %></h1>

<%= render 'form' %>

<% end %>
