
<table class="table">
  <tr>
    <th class="span2"></th>
    <th class="span2">Name</th>
    <th class="span6">Description</th>
    <th class="span1"></th>
    <th class="span1"></th>
  </tr>

<% @types.each do |type| %>
  <tr>
    <td><%= link_to "Review a #{type.name}", type, class: 'btn' %></td>
    <td><%= type.name %></td>
    <td><%= type.description %></td>
    <td><%= link_to 'Edit', edit_type_path(type) %></td>
    <td><%= link_to 'Destroy', type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% if false %>
  <%= form_tag do |f| %>
    <div class="field">
        <%= collection_select :type, :name, @types, :_id, :name, {:prompt => 'I want to review a: '}  %>
    </div>
  <% end %>
<% end %>

<%= link_to 'New type of review', new_type_path, class: 'btn' %>
