<%= form_for(Type.new, html: {class: 'form-inline form-horizontal'}) do |f| %>
  <p class="pull-left">
    <%= f.text_field :name, style: 'height: 40px' %>
  </p>

   <p class="pull-left" style="padding-left:5px;">
    <%= f.submit 'Marubaru!', :class => "btn", style: 'height: 40px' %>
  </p>
<% end %>


<table class="table">
  <tr>
    <th class="span2"></th>
    <th class="span2">Name</th>
    <th class="span6">Description</th>
    <th class="span1"></th>
    <th class="span1"></th>
  </tr>

<% @types.each do |type| %>
  <tr>
    <td><%= link_to "Review a #{type.name}", type, class: 'btn' %></td>
    <td><%= type.name %></td>
    <td><%= type.description %></td>
    <td><%= link_to 'Edit', edit_type_path(type) %></td>
    <td><%= link_to 'Destroy', type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<br />

