<p id="notice"><%= notice %></p>

<h1 style="padding-bottom: 10px;">
  <%=  @type.name.pluralize %>
</h2>

<p>
  <%= @type.description %>
</p>

<br>
<% if can?(:create, Thing) %>
  <%= form_for([@type, Thing.new], html: {class: 'form-inline form-horizontal'}) do |f| %>
    <p class="pull-left">
      <%= f.text_field :name, style: 'height: 40px' %>
    </p>

     <p class="pull-left" style="padding-left:5px;">
      <%= f.submit "Rate A #{@type.name}", :class => "btn", style: 'height: 40px' %>
    </p>
  <% end %>
<% end %>

<table class="table" style="margin-top:80px;">
  <tr>
    <th class="span2"></th>
    <th class="span2">Name</th>
    <th class="span5">Description</th>
    <%# if can? :update, @thing %>
    <th class="span1"></th>
    <%# end %>
    <%# if can? :destroy, @thing %>
    <th class="span1"></th>
    <%# end %>
  </tr>

<% @things.each do |thing| %>
  <tr>
    <% if can?(:create, Review) %>
  	 <td><%= link_to 'Rate This', new_thing_review_path(thing), class: 'btn' %></td>
    <% else %>
      <td></td>
    <% end %>
    <td><%= link_to thing.name, thing, class: 'btn' %></td>
    <td><%= thing.description %></td>
    <% if can?(:update, thing)%>
    <td><%= link_to 'Edit', edit_thing_path(thing) %></td>
    <% else %>
      <td></td>
    <% end %>
    <% if can?(:destroy, thing)%>
    <td><%= link_to 'Destroy', thing, confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= link_to 'Back', types_path %>
