<%= form_for [@thing, @review] do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label 'How good was it?' %>
    <div>
      <% @scale = (0..10).to_a %>
      <% @scale.each do |i| %>
        <p class="pull-left"><%= f.label i, style: 'padding-right:15px;' %><%= f.radio_button :ob_score, i %></p>
      <% end %>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div>
    <div>
      <%= f.label 'How much did you like it?' %>
      <% @scale = (0..10).to_a %>
      <% @scale.each do |i| %>
        <p class="pull-left"><%= f.label i, style: 'padding-right:15px;'  %><%= f.radio_button :sub_score, i %></p>
      <% end %>
    </div>
  </div>

  <div class="field">
    <p><%= f.label :note %></p>
    <p><%= f.text_area :thought %></p>
  </div>

  <div class="actions">
    <%= f.submit nil, { class: 'btn btn-warning' } %>
  </div>
<% end %>
