<p id="notice"><%= notice %></p>

<h1 style="padding-bottom:10px;">Review for <%= @review.thing.name %></h1>

<p>
  <b>Total score:</b>
  <%= @review.ob_score + @review.sub_score %>
</p>

<p>
  <b>How good I think it is:</b>
  <%= @review.ob_score %>
</p>

<p>
  <b>How much I like it:</b>
  <%= @review.sub_score %>
</p>

<p>
  <b>Notes:</b>
  <%= @review.thought %>
</p>

<%= link_to 'Done', thing_path(@review.thing), class: 'btn btn-warning' %> 

<br>
<br>
<br>

<%= link_to 'Back', thing_path(@review.thing) %>
